:root{
    --main-color: #1a73f8;
    --main-orange: orange;
    --main-white: white;
    --main-like-white: #efefef;
    --main-like-gray: #ccc;
}

/********* CONTAINER *********** */
.container{
    height: 100vh;
}

/********* NAV *********** */

nav{
    min-width: 620px;
    height: 100vh;
    overflow: auto;
}

nav h2{
    margin-left: 10px;
}

nav .station-cover img{
    height: 400px;
}

.about-station{
    padding: 10px;
}

.about-station strong{
    color: var(--main-color);
}

/********* SEARCH *********** */

.about-station p{
    border-bottom: 0.1px solid var(--main-like-gray);
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-style: italic;
    line-height: 1.9;
}


/********* SEARCH BAR *********** */
.search-bar{
    left: 55px;
    top: 10px;
    background-color: var(--main-white);
    padding: 15px 30px;
    width: 450px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 8px 12px rgb(0 0 0/20%);
    z-index: 99999;
}


.search-bar input{
    height: 35px;
    font-size: 1.8rem;
    border: none;
    outline: none;
}

.search-bar i{
    color: var(--main-like-gray);
    font-size: 1.5rem;
    cursor: pointer;
}


/********* DETAILS STATION *********** */
.station-reviews{
    font-size: 1.4rem;
    border-bottom: 0.1px solid var(--main-like-gray);
    padding-bottom: 15px;
}

.station-reviews .reviews-resume{
   color: var(--main-color);
}

i.fa-star{
    color: var(--main-orange);
}

.station-action-item i{
    font-size: 1.4rem;
    color: var(--main-white);
    background-color: var(--main-color);
    padding: 15px;
    display: block;
    border-radius: 50px;
    width: 20px;
}

.station-actions, .station-description{
    border-bottom: 0.1px solid var(--main-like-gray);
}

.station-description{
    font-size: 1.4rem;
    padding: 15px;
}

.station-service{
    padding: 10px 0;
}

.station-service li{
    padding: 10px 0;
}

.station-service:hover{
    font-weight: bold;
    background-color: var(--main-like-white);
    cursor: pointer;
}

.station-service img{
    width: 40px;
    height: 40px;
}



/********* MARKER POPUP *********** */
.station-popup{
    padding: 8px;
    font-size: 1.2rem;
    width: 350px !important;
}

.leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content-wrapper{
    width: 400px;
    margin: 0;
}

.station-popup button{
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--main-white);
    font-weight: bold;
    height: 40px;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

/********* CONTAINER *********** */
/********* CONTAINER *********** */

