:root{
    --main-color: #1a73f8;
    --main-orange: orange;
    --main-white: white;
    --main-like-white: #efefef;
    --main-like-gray: #ccc;
}

/********* CONTAINER *********** */
.container{
    height: 100vh;
}

/********* NAV *********** */

nav{
    min-width: 620px;
}

nav h2{
    margin-left: 10px;
}

nav .station-cover img{
    height: 400px;
}

.about-station{
    padding: 10px;
}

.about-station strong{
    color: var(--main-color);
}

/********* SEARCH *********** */

.about-station p{
    border-bottom: 0.1px solid var(--main-like-gray);
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-style: italic;
    line-height: 1.9;
}


/********* SEARCH BAR *********** */
.search-bar{
    left: 55px;
    top: 10px;
    background-color: var(--main-white);
    padding: 15px 30px;
    width: 450px;
    height: 35px;
    border-radius: 10px;
    box-shadow: 2px 8px 12px rgb(0 0 0/20%);
    z-index: 99999;
}


.search-bar input{
    height: 35px;
    font-size: 1.8rem;
    border: none;
    outline: none;
}

.search-bar i{
    color: var(--main-like-gray);
    font-size: 1.5rem;
    cursor: pointer;
}


/********* CONTAINER *********** */
/********* CONTAINER *********** */
/********* CONTAINER *********** */
/********* CONTAINER *********** */

